*{
  margin: 0;
  padding: 0;
  outline: none;
}

.app{
  background-color: darkgrey;
}

p{
  margin: 1rem 0;
  font-size: 1.5em;
}

h1{
  font-family: 'Acme', sans-serif;
  font-size: 5rem;
  text-align: center;
}

h2{
  font-family: 'Acme', sans-serif;
}

.board{
  height: 100%;
  background: url("./assets/bort.png") no-repeat repeat, url("./assets/bort.png") no-repeat repeat ;
  background-size: 1rem 5rem;
  animation: drive 1.2s infinite;
  animation-timing-function: steps(100,end);
}

.car{
  width: 6rem;
}

img{
  width: 6rem;
  height: auto;
}

.green{
  position: relative;
}
.main {
  position: relative;
  top: 29rem;
}

@keyframes drive {
  0% {
    background-position: right top, left top;
  }
  50% {
    background-position: right center, left center;
  }
  100%{
    background-position: right bottom, left bottom;
  }
}
